@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Exo' !important; /** had to stop cascade bcz of bootstrap **/
}

@font-face {
  font-family: 'Exo';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/Exo/Exo-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  font-weight: 400;
  font-style: italic;
  src: url(../assets/fonts/Exo/Exo-Italic.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/Exo/Exo-Bold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/Exo/Exo-BoldItalic.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  font-weight: 300;
  font-style: normal;
  src: url(../assets/fonts/Exo/Exo-Light.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  font-weight: 300;
  font-style: italic;
  src: url(../assets/fonts/Exo/Exo-LightItalic.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Zig';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/Zig/Zig-Regular.woff) format('woff');
  font-display: swap;
}

.p-dynamic {
  padding: calc((100vw + 5rem) / 21);
}
.px-dynamic {
  padding-right: calc((100vw + 5rem) / 21);
  padding-left: calc((100vw + 5rem) / 21);
}
.py-dynamic {
  padding-top: calc((100vw + 5rem) / 21);
  padding-bottom: calc((100vw + 5rem) / 21);
}
.pt-dynamic {
  padding-top: calc((100vw + 5rem) / 21);
}
.pb-dynamic {
  padding-bottom: calc((100vw + 5rem) / 21);
}

.video-test {
  width: calc(100vw - 2 * ((100vw + 5rem) / 21)) !important;
  height: calc((100vw - 2 * ((100vw + 5rem) / 21)) / 16 * 9) !important;
}
